/*
  Main Stylesheet
*/
* {
  box-sizing: border-box;
}

.body {
  background: rgb(233, 235,	238);
}

.post {
  background: white;
  border: 2px solid rgb(247, 247, 247);
  font-family: helvetica, arial, sans-serif;
  margin-left: 20%;
  padding: 10px;
  width: 600px;
}
/*Commented out because it is now invalid since Iwrapped it all in another div*/
/*.article-container {
  background: white;
  border: 2px solid rgb(247, 247, 247);
  font-family: helvetica, arial, sans-serif;
  margin-left: 20%;
  padding: 10px;
  width: 600px;
}*/

.profileImg {
  border: 2px solid rgb(247, 247, 247);
  background: white;
  height: 45px;
  width: 45px;
  position: absolute;
}

.author {
  color: rgb(50, 84, 150);
  font-size: 20px;
  position: relative;
  padding-left: 50px;
}
